.work:not(:last-child) {
  margin-right: 30px;
}

.artImg {
  width: 100%;
  margin-bottom: 10px;
}

.workInfo {
  display: flex;
}

.userAvatar {
  width: 38px;
  height: 38px;
  margin-right: 20px;
}

.names {
  font-weight: 600;
}

.workName {
  font-weight: 400;
  font-size: 16px;
}

@media (max-width: 800px) {
  .work {
    margin-bottom: 40px;
    margin-right: 0;
  }

  .artImg {
    width: auto;
  }
}

@media (max-width: 500px) {
  .work {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .artImg {
    width: 50%;
  }
}
