.paginationContainer {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 50px;
}

.pagination {
  display: flex;
  margin-right: 40px;
}

.paginationItem {
  border: 1px solid #dfdfdf;
  padding: 18px 26px;
  text-decoration: none;
  color: black;
}

.paginationItem:hover {
  background-color: rgb(231, 225, 225);
}

.disabled {
  opacity: 0.2;
  cursor: auto;
}

.active {
  color: white;
  background-color: black;
}

.arrow {
  width: 6px;
  height: 12px;
}

.paginationResults {
  margin-right: 20px;
  color: #959595;
}

.disable {
  display: none;
}

@media (max-width: 800px) {
  .paginationContainer {
    flex-direction: column;
  }

  .pagination {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .paginationItem {
    padding: 10px 15px;
  }
}
